@{
    ViewData["Title"] = "Countdown Page";
}

<div class="countdown">
    <h2>Pomodoro Time</h2>
    <div class="countdown-time">

        <div class="container-minute">
            <h3 id = "TimeMinute" class="minute">25</h3>
            <h3>Minute</h3>
        </div>


        <div class="container-second">
            <h3 id="TimeSecond" class="second">00</h3>
            <h3>Second</h3>
        </div>
          
    </div>

    <section class="btu">
        <div id="start_btu" class="start">
            <h4>Start</h4>
        </div>

        <div id="stop_btu" class="stop">
            <h4>Stop</h4>
        </div>

        <div id="reset_btu" class="reset">
            <h4>Reset</h4>
        </div>   
    </section>  

</div>


